@import url("reset.css");
:root {
    /* color */
    --white-color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    /* padding-top: 3.750em; */
    background-image: url(../img/mobile-paint-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.container > .clock-container {
    position: relative;
    padding-top: 3.750em;
    font-size: 2.000em;
    font-weight: bold;
    color: var(--white-color);
    z-index: 9;
}

h3.title {
    font-size: 1.750em;
    color: var(--white-color);
    padding: 1.750em 0;
}
.grocery-container {
    position: relative;
    z-index: 9;
}
#form {
    display: flex;
    justify-content: center;
}
.add-form > input {
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 6px;
    opacity: 0.5;
}
.submit-form {border-left: 1px solid #ccc;}
.submit-form > input {
    border: none;
    background: var(--white-color);
    border-radius: 0 6px 6px 0;
    text-align: center;
    padding: 6px;
    opacity: 0.5;
}
ul.list {
    color: var(--white-color);
    padding: 1em 0;
}
ul.list li {
    position: relative;
    width: 30vw;
    margin: 0.375em auto;
    padding: 0.375em 0;
    background: var(--white-color);
    color: #000;
    opacity: 0.5;
    border-radius: 6px;
    cursor: pointer;
}
ul.list li span.delete {
    position: absolute; right: 0;
}

/* background overlay */
.bg-overlay {
    width: 100%; min-height: 100vh; height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

.weather-info-container {
    position: absolute;
    right: 0; top: 0;
    color: var(--white-color);
    z-index: 9;
    padding: 1rem;
}
.weather-info-container p {
    padding-bottom: 0.500em;
}
.weather-info-container img {
    width: 70%;
}

/********************* desktop  *********************/
@media  screen and (min-width: 1080px) {
    .container {
        background-image: url(../img/mac-wallpaper.jpg);
    }
    
}